* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}


html {
	scroll-behavior: smooth;
}

.btn a {
	text-decoration: none;
	color: white;
}

#listing {
	width: 40%;
	font-size: 1.25em;
	
}


#btn-book {
	width: 200px;
	height: 50px;
}


/*#port-jumbo {*/
	/*border: 8px solid #007bff; */
	/*padding: 8em 4em;*/
	/*border-radius: 15px; */
	/*width: 60%;*/
/*} */

#jumbotron-section {
	height: 25%;
}

#jumbo-div {
	height: 100vh; /*vh = viewport height*/
	/*padding-top: 10%;*/
	border-radius: 0;
	/*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%231b1629'/%3E%3Cstop offset='1' stop-color='%23652e8f'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23201931'/%3E%3Cstop offset='1' stop-color='%234e2c8d'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23261c3a'/%3E%3Cstop offset='1' stop-color='%23372a8b'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%232b1f42'/%3E%3Cstop offset='1' stop-color='%23282f89'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%2331224b'/%3E%3Cstop offset='1' stop-color='%23264287'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23372454'/%3E%3Cstop offset='1' stop-color='%23245585'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%233e265d'/%3E%3Cstop offset='1' stop-color='%23226783'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23452867'/%3E%3Cstop offset='1' stop-color='%23217a80'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%234c2a71'/%3E%3Cstop offset='1' stop-color='%231f7e70'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23542c7a'/%3E%3Cstop offset='1' stop-color='%231d7c5a'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%235c2d85'/%3E%3Cstop offset='1' stop-color='%231c7944'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23652e8f'/%3E%3Cstop offset='1' stop-color='%231a772e'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");*/*/
	background-attachment: fixed;
	background-size: cover;
	background-color: #470985;
}


#btn-1 {
	border-color: white;
}


h3 {
	font-weight: bolder;
}

h1 {
	line-height: 1.5em;
}

h4 {
	font-size: 1.25em;
	line-height: 3.5em;
	color: rgba(255, 255, 255, 25%);
}


@font-face {
	font-family: "shoulder-font";
	src: url("../fonts/big-shoulder.ttf");
}

#title-1 {
	font-size: 3em;
	line-height: .75em;
	color: #f2f2f2;
}

#nav-1 {
	background-color: #470985;
	text-align: left;
	z-index: 11;
	color: white;
}


#nav-2 {
	background-color: #470985;
	z-index: 11;
	color: white;

}


.card {
	z-index: 10;
}


.nav-link {
	color: white;

}

#listing {
	width: 80%;
}

#accordion {
	width: 80%;
}

.breadcrumb {
	background-color: white;
}


#list-title {
	font-family: 'Titillium Web', sans-serif;
	line-height: 1em;
	font-size: 2.5em;
}

img.d-block,
#carouselExampleIndicators {
	height: 100%;
	width: 100%;
}

 







/*media queries*/

/*mobile style*/
@media only screen and (max-width: 400px) {
	
	#jumbo-div {
		height: 100%;
	}

	#port-jumbo {
		width: 100%;
		/*margin-top: 5vh; */
		/*padding-top: 5em; */
		/*padding-bottom: 5em; */
		margin: 0 auto;
	}

	.jumbotron h1 {
		font-size: 6em;
		font-family: 'Titillium Web', sans-serif;
		color: white;
	}

	#title-1 {
		font-size: 2.5em;
	}

	.nav-link {
	color: white;
	font-size: 1.25em;
	
	}

	/*#navbar-2 { */
		/*padding-left: 20%; */

	/*} */

	#bread {
		padding-left: 10%;
	}


}



/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px) {


	#jumbo-div {
	height: 100%;
	}

	#port-jumbo {
		/*width: 50%;*/
		/*margin-top: 5vh;*/
		/*padding-top: 5em;*/
		/*padding-bottom: 5em;*/
		margin: 0 auto;
	}

	.jumbotron h1 {
		font-size: 6em;
		font-family: 'Titillium Web', sans-serif; 
		/*font-family: 'shoulder-font'; */
		color: white;
	}

	.nav-link {
	color: white;
	font-size: 1.5em;
	}

	/*#navbar-1 {*/
		/*padding-left: 13%;*/
	/*} */

	/*#navbar-2 { */
		/*padding-left: 20%; */
	/*} */

}

/*desktop style*/
@media only screen and (min-width: 961px) {

	#jumbo-div {
		height: 100%;
	}

	#port-jumbo {
		/*width: 50%;*/
		/*margin-top: 5vh;*/
		/*padding-top: 5em;*/
		/*padding-bottom: 5em;*/
		margin: 0 auto;
	}

	.jumbotron h1 {
		font-size: 6em;
		font-family: 'Titillium Web', sans-serif;
		/*font-family: 'shoulder-font';*/
		color: white;
	}


	#navbar-1 {
		padding-left: 32%;
		font-size: 1.45em;
	}


	#navbar-2 {
		padding-left: 48%;
	} 

	#bread {
		padding-left: 10%;
	}






/*card animation*/

